@font-face {
    font-family: 'GloryMedium';
    src:
        url('/src/assets/fonts/Gilroy_Medium/Gilroy_Medium.woff2') format('woff2'),
        url('/src/assets/fonts/Gilroy_Medium/Gilroy_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloryRegular';
    src:
        url('/src/assets/fonts/Gilroy_Regular/Gilroy_Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Gilroy_Regular/Gilroy_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GloryThin';
    src:
        url('/src/assets/fonts/Gilroy_Thin/Gilroy_Thin.woff2') format('woff2'),
        url('/src/assets/fonts/Gilroy_Thin/Gilroy_Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GloryBold';
    src:
        url('/src/assets/fonts/Gilroy_Bold/Gilroy_Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Gilroy_Bold/Gilroy_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
